.click:hover {
  color: blue;
  text-decoration: underline;
  cursor:pointer;
}
#frame1, #frame2, #frame3, #frame4, #frame5, #frame6, #frame7, #frame8, #frame9, #frame10, #frame11, #frame12, #frame13, #frame14, #frame15, #offensive, #badend1, #badend2, #goodend1, #goodend2, #fireend {
  display: none;
}
.jumbotron {
  text-align: center;
}
button {
  width: 100px;
}
